.dashboard {
  .row {
    height: 100vh;
  }
  .sidebar {
    background-color: #363740;

    h1{
      color: white;
      text-align: center;
      margin-top: 20px;
    }
    .active{
      color: white;
    }
  }


  .header {
    h3{
      color: #252733;
    }
  }

  .dashboard-content {
    background-color: #f7f8fc;

    .avatar-menu p,
    ul {
      text-decoration: none;
      margin: 0;
      align-self: center;
      color: #252733;
      padding-left: 10px;
      & li{
        list-style: none;
        margin-bottom: 10px;
        margin: 0;
      }
    }

    .body-content {
      width: 100%;
      box-shadow: 0px 6px 16px rgb(194, 192, 192);
      border-radius: 4px;
    }
  }
}
.dashboard-body{
  background-color: #fff;

  h4{
    padding-top: 1em;
  }
  p{
    padding-top: 1em;
  }
}
.light-li{
  color: #667080;
}
div.d-flex.justify-content-evenly > div:nth-child(1) > ul > li{
  margin: 20px;
  font-size: 20px;
}
.profil{
  text-align: center;
}
.button-dashboard{
  margin-top: 8em;
  background-color: #667080;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
}
.button-dashboard:hover{
  color: #667080;
  background-color: #fff;
  border: solid 1px #667080;
}
.button-dashboard-car{
  background-color: #667080;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
}
.button-dashboard-car:hover{
  color: #667080;
  background-color: #fff;
  border: solid 1px #667080;
}
.sidebar{
  li{
    background-color: #fff;
    margin: 20px;
  }
  p a{
    text-decoration: none;
    font-size: 20px;
  }
  p a:hover{
    color: white;
  }
  p{
    text-align: center;
    text-transform: justify;
    padding: 20px;
    margin-top: 20px;
  }
}
 div.d-flex.justify-content-evenly > div.profil > div > img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
table{
  thead th{
    color: #9FA2B4;
    font-size: 14px;
    font-weight:lighter;
  }
  tbody td{
    height: 65px;
    vertical-align: middle;
    color:#252733;
  }
}
.iframe-red:hover{
color: red;
}
.iframe-green:hover{
  color: green;
  }
