a {
  font-size: medium;
}

.upper-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.describe {
  border-bottom: 0.03em solid grey;
  border-top: 0.03em solid grey;
  padding: 0.7em 0;
}

p {
  font-size: medium;
}

body {
  color: $color-figma;
}

.back {
  display: flex;
  justify-content: space-between;
}

.left-side {
  margin-top: 3em;
  margin-right: 3em;
}

.custom-footer{
  margin-bottom: 100px;
}
.custom-top-signup{
  margin-top: 100px;
}

#cancel-btn {
  a {
    color: white;
    text-decoration: none;
  }
}
