<footer class="fixed-bottom">
  <div class="container">
    <div class="d-flex justify-content-between">
      <p>© Wheelz     -    Confidentialité   -   Conditions générales   -   Plan du site   -   Fonctionnelent du site   -   Infos sur l’entreprise</p>
      <h4>Français (FR)      €   EUR</h4>
    </div>
  </div>
</footer>
