

.card {
  color: grey;
  border-radius: 16px;
  .days {
    opacity: 0.5;
    font-weight: 0.2em;
    color: #667080;
  }
}

.card-header {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;

  h3{
    color: #667080;
  }
}
.card-text{
  p{
    color: #6E798C;
  }
}
.spec{
  p{
    color: #A5ADBB;
  }
}
.price{
  h4{
    color: #667080;
  }
}
.card a {
  color: black;
}

#car-img{
  width: 100%;
  height: 270px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
