.card-body img{
  width: 100%;
  height: 300px;
  border-radius: 1.1em 1.1em 0 0;
}

.card{
  border-radius: 1.1em;
  color: grey;
}

.card img{
  border-radius: 1.1em 1.1em 0 0;
}

.card-header{
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
}

.card a{
  color: black;
}


.filter-button{
  border: solid 1px #667080;
  padding: 10px 30px;
  border-radius: 1.1em;
  a{
    text-decoration: none;
    font-size: 1.3em;
    color: #667080;
    &:hover{
      color: white;
    }
  }

  &:hover{
    background-color: #667080;
    a{
      color: white;
    }
  }

}
