

.card {
  color: grey;
  border-radius: 1em;
  .days {
    opacity: 0.5;
    font-weight: 0.2em;
  }
}

.card-header {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
}

.card a {
  color: black;
}

#car-img{
  width: 100%;
  height: 270px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
