.review{
  .input-field{
    align-self: center;
  }
  #new_booking{
    margin: 0 auto;
    width: 60%;
  }
  .review-card{
    margin: 0 auto;
    width: 60%;
    border-radius: 1.1em;
    border: 1px solid #e0e0e0;
    #review-car-img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 1.1em 1.1em 0 0;
    }

  }
}
