<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://cdn.motor1.com/images/mgl/nGzgl/s1/2021-bugatti-chiron-front.jpg" id="car-img" class="card-img-top">
      <div class="card-body">
        <div class="card-header d-flex justify-content-between">
          <h3>Bugatti Chiron</h3>
          <div class="rating">
            <p>4.95 ⭐</p>
          </div>
        </div>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="spec d-flex justify-content-between m-3">
          <p>700hp</p>
          <p>Essence</p>
          <p>2 seats</p>
        </div>
        <div class="price d-flex justify-content-between">
          <h4>1000€/Days</h4>
          <a href="">See more</a>
        </div>
      </div>
    </div>
  </div>
</div>
